
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://ext.dcs.shef.ac.uk/~u0082/intelweb2"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>Artists r Us - Jazz</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/3/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>View From The Afternoon, The </title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/96</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/3">Jazz</category>
 <pubDate>Mon, 09 Mar 2009 17:27:33 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">96 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Nirvana</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/95</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/3">Jazz</category>
 <enclosure url="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=image/view/94/preview" length="17331" type="image/jpeg" />
 <pubDate>Mon, 09 Mar 2009 17:23:29 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">95 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Cashmere</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/93</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/3">Jazz</category>
 <pubDate>Mon, 09 Mar 2009 17:22:19 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">93 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Lover Man</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/92</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/3">Jazz</category>
 <pubDate>Mon, 09 Mar 2009 17:21:59 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">92 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Willow Weep For Me</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/91</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/3">Jazz</category>
 <pubDate>Mon, 09 Mar 2009 17:21:41 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">91 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>I Love You</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/90</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/3">Jazz</category>
 <pubDate>Mon, 09 Mar 2009 17:21:23 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">90 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Gymnopedie</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/89</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/3">Jazz</category>
 <pubDate>Mon, 09 Mar 2009 17:21:06 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">89 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Nirvana</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/88</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/3">Jazz</category>
 <pubDate>Mon, 09 Mar 2009 17:20:43 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">88 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>At the Village Gate</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/87</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/3">Jazz</category>
 <enclosure url="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=image/view/86/preview" length="26982" type="image/jpeg" />
 <pubDate>Mon, 09 Mar 2009 17:19:29 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">87 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Spirit In The Dark</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/85</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/3">Jazz</category>
 <pubDate>Mon, 09 Mar 2009 17:18:11 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">85 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>What&#039;s Going On</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/84</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/3">Jazz</category>
 <pubDate>Mon, 09 Mar 2009 17:17:54 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">84 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>It Ain&#039;t Necessarily So</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/83</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/3">Jazz</category>
 <pubDate>Mon, 09 Mar 2009 17:17:35 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">83 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Summertime</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/82</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/3">Jazz</category>
 <pubDate>Mon, 09 Mar 2009 16:56:40 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">82 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Comin&#039; Home Baby</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/81</link>
 <description></description>
 <comments>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/81#comments</comments>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/3">Jazz</category>
 <pubDate>Mon, 09 Mar 2009 16:56:25 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">81 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Push Push</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/75</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/3">Jazz</category>
 <enclosure url="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=image/view/74/preview" length="22922" type="image/jpeg" />
 <pubDate>Mon, 09 Mar 2009 16:47:06 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">75 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Push Push</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/73</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/3">Jazz</category>
 <pubDate>Mon, 09 Mar 2009 16:46:12 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">73 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
</channel>
</rss>