
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://ext.dcs.shef.ac.uk/~u0082/intelweb2"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>Artists r Us - Soundtrack</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/7/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>8 Mile</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/133</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/soundtrack">Soundtrack</category>
 <enclosure url="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=image/view/132/preview" length="25335" type="image/jpeg" />
 <pubDate>Tue, 10 Mar 2009 10:41:07 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">133 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
</channel>
</rss>