
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://ext.dcs.shef.ac.uk/~u0082/intelweb2"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>Artists r Us - Pop</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>The One</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/598</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <enclosure url="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=image/view/597/preview" length="38013" type="image/jpeg" />
 <pubDate>Thu, 12 Mar 2009 13:52:02 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">598 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>The Last Song</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/596</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:49:45 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">596 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Understanding Women</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/595</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:49:36 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">595 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>On Dark Street</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/594</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:49:26 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">594 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Emily</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/593</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:49:16 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">593 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>When A Woman Doesn&#039;t Want You</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/592</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:49:05 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">592 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>The North</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/591</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:48:52 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">591 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Fat Boys And Ugly Girls</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/590</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:48:42 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">590 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Whitewash County</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/589</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:48:32 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">589 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Runaway Train</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/588</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:48:17 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">588 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Sweat It Out</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/587</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:47:33 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">587 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>The One</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/586</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:47:20 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">586 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Simple Life</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/585</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:47:10 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">585 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Peachtree Road</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/584</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <enclosure url="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=image/view/583/preview" length="22589" type="image/jpeg" />
 <pubDate>Thu, 12 Mar 2009 13:46:49 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">584 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>I Can&#039;t Keep This From You</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/582</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:44:50 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">582 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>It&#039;s Getting Dark In Here</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/581</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:44:30 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">581 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Too Many Tears</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/580</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:44:18 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">580 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>I Stop And I Breathe</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/579</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:44:07 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">579 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>All That I&#039;m Allowed</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/578</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:43:55 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">578 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Freaks In Love</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/577</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:43:46 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">577 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>They Call Her The Cat</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/576</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:43:33 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">576 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>My Elusive Drug</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/575</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:43:22 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">575 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Turn The Lights Out When You Leave</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/574</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:43:13 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">574 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Answer In The Sky</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/573</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:43:00 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">573 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Porch Swing In Tupelo</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/572</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:42:49 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">572 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Weight Of The World</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/571</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:42:37 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">571 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Jump Up</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/570</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <enclosure url="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=image/view/569/preview" length="17551" type="image/jpeg" />
 <pubDate>Thu, 12 Mar 2009 13:42:18 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">570 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>All Quiet On The Western Front</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/568</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:40:53 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">568 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Where Have All The Good Times Gone</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/567</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:40:34 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">567 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Princess</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/566</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/2">Pop</category>
 <pubDate>Thu, 12 Mar 2009 13:40:23 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">566 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
</channel>
</rss>