
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://ext.dcs.shef.ac.uk/~u0082/intelweb2"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>Artists r Us - Metal</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>Slave To The Grind</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/365</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <enclosure url="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=image/view/364/preview" length="31834" type="image/jpeg" />
 <pubDate>Tue, 10 Mar 2009 15:10:50 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">365 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Wasted Time</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/363</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 15:09:26 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">363 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Mudkicker</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/362</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 15:09:18 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">362 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Riot Act</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/361</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 15:09:10 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">361 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>In A Darkened Room</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/360</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 15:09:00 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">360 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Creepshow</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/359</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 15:08:49 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">359 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Livin&#039; On A Chain Gang</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/358</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 15:08:37 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">358 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Get The Fuck Out</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/357</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 15:08:28 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">357 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Slave To The Grind</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/356</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 15:08:14 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">356 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Live in Brasil(Rio de Janeiro 22/01/92)</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/355</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 15:07:27 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">355 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>I remember you</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/353</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <enclosure url="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=image/view/354/preview" length="4389" type="image/jpeg" />
 <pubDate>Tue, 10 Mar 2009 15:04:32 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">353 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Big guns (live)</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/351</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 15:03:47 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">351 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Makin a mess</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/350</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 15:03:34 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">350 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>40 Seasons - The Best Of Skid Rowdd</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/349</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <enclosure url="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=image/view/348/preview" length="8187" type="image/jpeg" />
 <pubDate>Tue, 10 Mar 2009 15:03:24 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">349 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Fire in The Hole (Demo 1991 Previously Unreleased)dfe</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/347</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 15:01:05 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">347 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Forever (1998 Previously Unreleased)dfe</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/346</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 15:00:57 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">346 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Beat Yourself Blind (Live from The Astoria,London,England 1995)dfe</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/345</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 15:00:48 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">345 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Breakin&#039; Down (Remix)dfe</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/344</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 15:00:38 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">344 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>My Enemy (Remix)</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/343</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 15:00:29 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">343 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Frozen (Demo 1994)</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/342</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 15:00:17 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">342 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Into Another (Remix)</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/341</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 15:00:08 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">341 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Slave To The Grind</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/340</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 14:59:59 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">340 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Quicksand Jesus</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/339</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 14:59:51 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">339 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Monkey Business</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/338</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 14:59:42 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">338 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Psycho Love</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/337</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 14:59:30 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">337 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>The Threatdfe</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/336</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 14:59:21 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">336 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>I Remember You</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/335</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 14:59:11 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">335 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Piece of Me</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/334</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 14:58:58 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">334 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Youth Gone Wild</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/333</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <pubDate>Tue, 10 Mar 2009 14:58:41 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">333 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>18 And Life</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/332</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/5">Metal</category>
 <enclosure url="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=image/view/331/preview" length="28303" type="image/jpeg" />
 <pubDate>Tue, 10 Mar 2009 14:58:24 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">332 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
</channel>
</rss>