
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://ext.dcs.shef.ac.uk/~u0082/intelweb2"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>Artists r Us - Rap</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/8/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>The Marshall Mathers LP</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/189</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <enclosure url="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=image/view/188/preview" length="26301" type="image/jpeg" />
 <pubDate>Tue, 10 Mar 2009 11:02:48 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">189 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Criminal</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/187</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:58:51 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">187 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Kim</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/186</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:58:30 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">186 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Drug Ballad</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/185</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:58:19 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">185 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Marshall Mathers</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/184</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:58:07 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">184 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>I&#039;m Back</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/183</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:57:58 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">183 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>The Real Slim Shadydfe</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/182</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:57:45 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">182 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>The Way I Am</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/181</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:57:36 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">181 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Steve Berman</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/180</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:57:27 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">180 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Who Knew</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/179</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:57:16 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">179 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Stan feat. Didodfe</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/178</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:57:07 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">178 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Kill You</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/177</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:56:57 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">177 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Public Service Announcement 2000</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/176</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:56:47 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">176 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>paul [skit]</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/175</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:56:33 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">175 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Under The Influence Feat. D-12dfe</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/174</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:55:55 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">174 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>The Eminem Show</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/173</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <enclosure url="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=image/view/172/preview" length="10721" type="image/jpeg" />
 <pubDate>Tue, 10 Mar 2009 10:55:26 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">173 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Curtains Close</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/171</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:51:55 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">171 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>My Dad&#039;s Gone Crazy</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/170</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:51:47 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">170 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Till I Collapse</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/169</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:51:37 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">169 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Say What You Say</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/168</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:51:28 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">168 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>When The Music Stops</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/167</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:51:19 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">167 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Steve Berman</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/166</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:51:10 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">166 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Hailie&#039;s Song</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/165</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:51:00 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">165 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Superman</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/164</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:50:48 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">164 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Sing For The Moment</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/163</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:50:37 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">163 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Paul Rosenberg</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/162</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:49:53 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">162 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Without Me</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/161</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:49:43 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">161 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Drips</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/160</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:49:35 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">160 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Say Goodbye Hollywood</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/159</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:49:25 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">159 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Soldier</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/158</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=category/genre/rap">Rap</category>
 <pubDate>Tue, 10 Mar 2009 10:49:16 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">158 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
</channel>
</rss>