
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://ext.dcs.shef.ac.uk/~u0082/intelweb2"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>Artists r Us - Alternative</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>Don&#039;t Tell Me</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/438</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4">Alternative</category>
 <enclosure url="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=image/view/437/preview" length="8092" type="image/jpeg" />
 <pubDate>Tue, 10 Mar 2009 15:49:01 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">438 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Take Me Away</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/436</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4">Alternative</category>
 <pubDate>Tue, 10 Mar 2009 15:48:18 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">436 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Don&#039;t Tell Me (Acoustic)</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/435</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4">Alternative</category>
 <pubDate>Tue, 10 Mar 2009 15:48:08 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">435 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Don&#039;t Tell Me</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/434</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4">Alternative</category>
 <pubDate>Tue, 10 Mar 2009 15:47:56 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">434 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Complicated - single</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/433</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4">Alternative</category>
 <enclosure url="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=image/view/432/preview" length="20568" type="image/jpeg" />
 <pubDate>Tue, 10 Mar 2009 15:47:43 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">433 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Let Go</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/431</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4">Alternative</category>
 <enclosure url="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=image/view/430/preview" length="37925" type="image/jpeg" />
 <pubDate>Tue, 10 Mar 2009 15:46:51 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">431 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>NAKED</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/429</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4">Alternative</category>
 <pubDate>Tue, 10 Mar 2009 15:45:01 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">429 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>TOO MUCH TO ASK</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/428</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4">Alternative</category>
 <pubDate>Tue, 10 Mar 2009 15:44:52 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">428 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>NOBODYÃ‚Â´S FOOL</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/427</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4">Alternative</category>
 <pubDate>Tue, 10 Mar 2009 15:44:43 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">427 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>MY WORLD</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/426</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4">Alternative</category>
 <pubDate>Tue, 10 Mar 2009 15:44:35 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">426 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>THING IÃ‚Â´LLNEVER SAY</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/425</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4">Alternative</category>
 <pubDate>Tue, 10 Mar 2009 15:44:26 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">425 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>ANYTHING BUT ORDINARY</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/424</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4">Alternative</category>
 <pubDate>Tue, 10 Mar 2009 15:44:17 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">424 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>TOMORROW</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/423</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4">Alternative</category>
 <pubDate>Tue, 10 Mar 2009 15:44:06 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">423 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>UNWATED</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/422</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4">Alternative</category>
 <pubDate>Tue, 10 Mar 2009 15:43:55 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">422 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>MOBILE</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/421</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4">Alternative</category>
 <pubDate>Tue, 10 Mar 2009 15:43:46 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">421 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>IÃ‚Â´M WITTH YOU</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/420</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4">Alternative</category>
 <pubDate>Tue, 10 Mar 2009 15:43:38 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">420 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>SK8ER BOI</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/419</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4">Alternative</category>
 <pubDate>Tue, 10 Mar 2009 15:43:26 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">419 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>COMPLICATED</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/418</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4">Alternative</category>
 <pubDate>Tue, 10 Mar 2009 15:43:16 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">418 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>LOSING GRIP</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/417</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/4">Alternative</category>
 <pubDate>Tue, 10 Mar 2009 15:43:07 +0000</pubDate>
 <dc:creator>admin</dc:creator>
 <guid isPermaLink="false">417 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
</channel>
</rss>