
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://ext.dcs.shef.ac.uk/~u0082/intelweb2"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>Artists r Us - Rock</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>Paranoid</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/787</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <enclosure url="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=image/view/786/preview" length="62923" type="image/jpeg" />
 <pubDate>Thu, 12 Mar 2009 15:42:03 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">787 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Fairies Wear Boots</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/785</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:40:44 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">785 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Rat Salad</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/784</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:40:33 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">784 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Hand of doom</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/783</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:40:23 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">783 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Electric Funeral</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/782</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:40:12 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">782 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Iron Man</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/781</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:40:01 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">781 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Planet Caravan</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/780</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:39:51 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">780 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Paranoid</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/779</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:39:41 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">779 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>War Pigs</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/778</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:39:30 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">778 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Master of Reality</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/777</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <enclosure url="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=image/view/776/preview" length="21596" type="image/jpeg" />
 <pubDate>Thu, 12 Mar 2009 15:39:10 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">777 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>?</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/775</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:36:38 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">775 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Solitude</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/774</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:36:28 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">774 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Into The Void</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/773</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:36:08 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">773 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Lord Of This World</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/772</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:35:56 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">772 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Orchid</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/771</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:35:46 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">771 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Children Of The Grave</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/770</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:35:34 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">770 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Embryo</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/769</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:35:22 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">769 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>After Forever</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/768</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:35:12 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">768 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Sweet Leaf</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/767</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:35:02 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">767 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Live Evil</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=album/766</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <enclosure url="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=image/view/765/preview" length="31674" type="image/jpeg" />
 <pubDate>Thu, 12 Mar 2009 15:33:49 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">766 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Fluff</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/764</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:31:19 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">764 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Children of the Grave</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/763</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:31:06 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">763 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Paranoid</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/762</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:30:54 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">762 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>The Sign of the Southern Cross / Heaven and Hell (continued)</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/761</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:30:43 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">761 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Heaven and Hell</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/760</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:30:30 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">760 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>The Mob Rules</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/759</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:30:19 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">759 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Iron Man</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/758</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:30:09 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">758 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>War Pigs</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/757</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:29:58 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">757 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Black Sabbath</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/756</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:29:48 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">756 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
<item>
 <title>Voodoo</title>
 <link>http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=track/755</link>
 <description></description>
 <category domain="http://ext.dcs.shef.ac.uk/~u0082/intelweb2/%3fq=taxonomy/term/1">Rock</category>
 <pubDate>Thu, 12 Mar 2009 15:29:28 +0000</pubDate>
 <dc:creator>matt</dc:creator>
 <guid isPermaLink="false">755 at http://ext.dcs.shef.ac.uk/~u0082/intelweb2</guid>
</item>
</channel>
</rss>